<div class="container-fluid"><br>
  <div class="row">
    <table class="table col-md-1">
        <h1 class="text-center">Datos</h1>
      <tr>
        <td>Nombre</td>
        <td>{{ details?.first_name }}</td>
      </tr>
      <tr>
        <td>Apellido</td>
        <td>{{ details?.last_name }}</td>
      </tr>
      <tr>
        <td>Correo</td>
        <td>{{ details?.email }}</td>
      </tr>
      |<tr>
          <td><img src="http://www.cavsi.com/preguntasrespuestas/images/que-es-usuario.jpg" width="200" height="100"></td>
        </tr>
      <tr>
        <td></td>
        <td><button class="btn btn-warning">Editar</button></td>
      </tr>
    </table>
    <div class="col-md-6">
      <h2>Tareas del dia</h2>
      <ul style="list-style-type:disc;">
          <li>Desayunar</li>
          <li>Verificar horarios</li>
          <li>Entregar Documentos</li>
        </ul>
        <div>
          <h2>Nota</h2>
          <p>Tu trabajo va a llenar gran parte de tu vida, la única manera de estar realmente satisfecho es hacer lo que creas que es un gran trabajo y la única manera de hacerlo es amando lo que haces. Si no lo has encontrado aún, sigue buscando. Como con todo lo que tiene que ver con el corazón, sabrás cuando lo hayas encontrado</p>
        </div>
    </div>
  </div>
</div>